/* import font */
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

:root{
  /*  colors  */
  --color-white: hsla(0, 0%, 100%, 1);
  --color-grey: hsla(0, 0%, 58%, 1);
  --color-blue-800: hsla(234, 29%, 20%, 1);
  --color-blue-700: hsla(234, 17%, 26%, 1);
  --color-red: hsla(4, 100%, 67%, 1);
  --color-red-100: hsla(2, 100%, 95%, 1);
  /* todo: add gradient color */
  
  /*  spacing  */
  --spacing-100: 0.5rem;    /*   8px  */
  --spacing-200: 1rem;      /*   16px  */
  --spacing-300: 1.5rem;    /*   24px  */
  --spacing-400: 2rem;      /*   32px  */
  --spacing-500: 2.5rem;    /*   40px  */
  --spacing-600: 3rem;      /*   48px  */
  --spacing-800: 4rem;      /*   64px  */
  --spacing-900: 4.5rem;    /*   72px  */
  --spacing-1300: 6.5rem;   /*  104px  */
}

/* utility classes */
.text-preset-1{
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0;
}

.text-preset-1-mobile{
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0;
}

.text-preset-2-bold{
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0;
}

.text-preset-2-regular{
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0;
}

.text-preset-3{
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0;
}

/* sign-up card*/
.sign-up{
  display: grid;
  gap: var(--spacing-500);
}

/* decoration image*/
.sign-up__image{
  max-width: 100%;
  width: 100%;
}

/* main body / content */
.sign-up__content{
  display: flex;
  flex-direction: column;
  gap: var(--spacing-500);
  font-family: "Roboto", sans-serif;
  width: 87.2%;
  margin: 0 auto 2.75rem;
  color: var(--color-blue-800);
}

.sign-up__benefits{
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
}

.sign-up__list{
  display: flex;
  flex-direction: column;
  gap: var(--spacing-100);
  padding-left: 0;
}

.sign-up__item{
  display: flex;
  align-items: center;
}

.sign-up__item::marker{
  content: '';
}

.sign-up__item::before{
  display: inline-block;
  flex-shrink: 0;
  align-self: flex-start;
  content: url("../images/icon-list.svg");
  height: 20px;
  width: 20px;
  margin-right: var(--spacing-200);
  position: relative;
  top: 0.125rem;
}

.sign-up__form{
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
}

.sign-up__form-control{
  display: flex;
  flex-direction: column;
  gap: var(--spacing-100);
  position: relative;
  /* isolation */
  isolation: isolate;
}

.sign-up__input{
  padding: var(--spacing-200) var(--spacing-300);
  border: 1px solid var(--color-grey);
  color: var(--color-grey);
  border-radius: 0.5rem;
  box-sizing: border-box;
}

.sign-up__input:focus{
  outline: none;
  border: 1px solid var(--color-blue-800);
  box-shadow: inset 0 0 2px var(--color-grey);
}

/* display upon invalid email */
.sign-up__input--invalid{
  border-color: var(--color-red);
  color: var(--color-red);
  background-color: var(--color-red-100);
}

.sign-up__input--invalid:focus{
  outline: none;
  border: 1px solid var(--color-red);
  box-shadow: inset 0 0 2px var(--color-red);
}

.sign-up__error-message{
  display: none;
  position: absolute;
  right: 0;
}

/* display upon invalid email */
.sign-up__error-message--show{
  display: inline-block;
  position: absolute;
  right: 0;
  color: var(--color-red);
}

.sign-up__btn{
  padding: var(--spacing-200) var(--spacing-600);
  border-radius: 0.5rem;
  color: var(--color-white);
  background-color: var(--color-blue-800);
  border: none;
  position: relative;
}

.sign-up__btn:hover{
  background: linear-gradient(90deg, hsla(15, 100%, 61%, 1), hsla(346, 100%, 66%, 1));
  cursor: pointer;
}

.sign-up__btn:hover::after{
  content: '';
  position: absolute;
  inset: 0;
  background: inherit;
  border-radius: inherit;
  translate: 0 1rem;
  filter: blur(1rem);
  opacity: 0.25;
  z-index: -1;
}

.hidden{
  display: none;
}

.success-page{
  padding: 24px;
}

.success-card{
  display: flex;
  flex-direction: column;
  gap: var(--spacing-400);
  font-family: "Roboto", sans-serif;
  width: 100%;
  max-width: 504px;
  border-radius: 36px;: ;
}

.success-card__icon{
  height: 4rem;
  width: 4rem;
}

.success-page{
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


/*@media (min-width: 768px){  */
@media (min-width: 480px){
  .sign-up-page{
    background-color: var(--color-blue-700);
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
  }
  
  .sign-up{
    padding: var(--spacing-500);
    border-radius: 2.25rem;
    background-color: var(--color-white);
    width: 90%;
    max-width: 608px;
    position: relative;
    z-index: 0;
  }
  
  .sign-up__image{
    border-radius: 1rem;
    max-height: 358px;
    height: 100%;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .sign-up__content{
    width: 100%;
    margin: 0;
  }
  
  .success-card{
    padding: var(--spacing-800);
    background-color: var(--color-white);
    margin: 0;
    width: 100%;
  }

  .success-page{
    background-color: var(--color-blue-700);
  }

}

@media (min-width: 769px){
  .sign-up{
    grid-template-columns: repeat(2, 1fr);
    max-width: 840px;
    
  }
  
  .sign-up__image{
    max-height: 593px;
  }
  
  .sign-up__content {
    order: -1;
    justify-content: center;
  }
}