*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Figtree", sans-serif;
    background-color: #F4D04E;
}

main{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.card{
    height: 474px;
    width: 336px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #FFFFFF;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-size: 0.875rem;
    box-shadow: 8px 8px;
    transition: box-shadow 0.3s ease;
}

.card:hover{
    box-shadow: 12px 12px;
}

.blogImage{
    border-radius: 10px;
    height: 200px;
    width: 336px;
}

.content{
    text-align: left;
    color: #111111;
}

button{
    height: 29px;
    width: 82px;
    margin-bottom: 12px;
    border: none;
    border-radius: 4px;
    font-weight: 800;
    background-color: #F4D04E;
    line-height: 14px;
}

.publishDate{
    font-weight: 500;
    margin-bottom: 12px;
    line-height: 21px;
}

.title{
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 12px;
    line-height: 36px;
}

.title:hover{
    color: #F4D04E;
    cursor: pointer;
}

.description{
    font-size: 1rem;
    font-weight: 500;
    color: #6B6B6B;
    line-height: 24px;
}

.author{
    display: flex;
    align-items: center;
    gap: 12px;
}

.author>p{
    font-weight: 800;
}

.userPic{
    height: 32px;
    width: 32px;
}

@media (max-width: 500px) {
    .card{
        height: 453px;
        width: 279px;
    }

    .blogImage{
        height: 200px;
        width: 279px;
        object-fit: cover;
        object-position: left;
    }
}